body {
    margin: 0 auto;

}

.container {
    margin: 0 auto;
    max-width: 1280px;

}

.nav-list {
    text-align: center;
    margin: 0 auto;
}

.nav-item {
    display: inline-block;
    margin-top: 25.5px;
    text-align: center;
    margin-right: 72px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 2.7px;
}

.nav-item-list {
    color: #FF0000;
    text-decoration: none;
}

.nav-item-list:hover {
    color: black;

}

.image {

    width: 100%;
    margin-top: 25px;
}

.title {
    display: block;
    text-align: center;
    margin-top: 48px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.text {
    margin-top: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.text._p2 {
    margin-top: 0;
}

.link {
    text-align: center;
    margin-top: 66px;

}
.link-active {
    padding: 18px 43.5px 17px 42.5px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;

}

.link-active:hover {
    color: black;
}

.copy {
    margin: 72px 105px 29px 0;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}